PORT=4000
NODE_ENV=development

DB_HOST=localhost
DB_PORT=5432
DB_NAME=sportstore
DB_USER=postgres
DB_PASSWORD=admin

JWT_SECRET=fh8934h89sxklkls9090-213jkl
JWT_EXPIRES=30d

CLIENT_URL=http://localhost:5173
